---
import SkillPill from "@/components/Home/SkillPill";
import Layout from "@/layouts/Layout.astro";
import { ChevronRightIcon, ClipboardCopy } from "lucide-react";
---

<Layout
  title="Portfolio"
  heading="Portfolio."
  subheading="Here is the latest style trend."
>
  <article
    class="dark static mb-16 h-full overflow-y-auto overflow-x-hidden rounded-xl bg-gray-900"
  >
    <nav
      class="flex h-20 items-center border-b border-gray-700 bg-gray-900 px-8"
    >
      <a href="#" class="text-2xl font-bold text-gray-100">Imagine</a>
      <div class="ml-auto flex">
        <span class="mr-8 border-r border-gray-700" role="separator"></span>
        <ul class="flex gap-8">
          <li>
            <a class="text-gray-100 hover:underline" href="#about">About</a>
          </li>
          <li>
            <a class="text-gray-100 hover:underline" href="#skills">Skills</a>
          </li>
          <li>
            <a
              class="font-medium text-fuchsia-400 hover:underline"
              href="/resume.pdf"
              target="_blank"
            >
              Resume
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section
      class="funny container relative pb-32 pt-64 text-center text-gray-100"
    >
      <h2 class="mb-8 text-6xl font-bold">A Software Engineer</h2>
      <h3 class="mb-6 text-2xl font-thin">
        That was running out of good ideas.
      </h3>
      <div class="flex items-center justify-center gap-4">
        <div class="bg-blue-purple-gradient p-0.5 shadow-sm">
          <div class="flex items-center bg-gray-950 p-4">
            <ChevronRightIcon className="mr-1 text-gray-100" size="20" />
            <code
              class="flex-1 text-left font-mono text-lg leading-none text-gray-400"
            >
              So they copied
            </code>
            <button
              class="hover:scale-105 active:scale-100 active:transition-none"
              type="button"
            >
              <ClipboardCopy
                className="ml-3 text-gray-100 hover:text-gray-300"
                size="24"
              />
            </button>
          </div>
        </div>
        <a
          class="flex h-14 items-center rounded-full bg-gray-100 px-10 text-center font-medium leading-none text-blue-600 hover:bg-gray-300"
          href="https://astro.build/"
          target="_blank"
        >
          Astro's Website
        </a>
      </div>
      <p class="mt-4 text-gray-400">(but found inspiration later)</p>
    </section>

    <section class="py-32 text-gray-100" id="about">
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        That also took a music major
      </h2>
      <p class="text-center text-2xl font-thin">Because they liked it.</p>
    </section>

    <section
      class="container flex flex-col items-center py-32 text-center text-gray-100"
      id="skills"
    >
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        That likes web development
      </h2>
      <div class="flex w-full flex-wrap justify-center gap-2 lg:px-32">
        <SkillPill
          name="TypeScript"
          iconName="si-typescript"
          color="#3178C6"
          client:load
        >
          <p>Done the rounds.</p>
          <p>Hono, Prisma</p>
        </SkillPill>
        <SkillPill
          name="Python"
          iconName="si-python"
          color="#3776AB"
          client:load
        >
          <p>Ol' Reliable.</p>
          <p>Flask, Django</p>
        </SkillPill>
        <SkillPill name="Astro" iconName="si-astro" color="#BC52EE" client:load>
          <p>This entire website was made with it!</p>
        </SkillPill>
        <SkillPill name="React" iconName="si-react" color="#61DAFB" client:load>
          <p>The whole ecosystem.</p>
          <p>Next.js, shadcn/ui, TRPC, Jotai, Auth.js</p>
        </SkillPill>
        <SkillPill name="Vue" iconName="si-vue" color="#4FC08D" client:load>
          <p>Less pain.</p>
          <p>Pinia</p>
        </SkillPill>
        <SkillPill
          name="AWS"
          iconName="si-amazonaws"
          color="#FF9900"
          client:load
        >
          <p>The whole shebang.</p>
          <p>CDK, ECR, ECS, API Gateway, Lambda.</p>
        </SkillPill>
        <SkillPill
          name="Docker"
          iconName="si-docker"
          color="#2496ED"
          client:load
        >
          <p>Who hasn't?</p>
          <p>Containerisation, Deployment</p>
        </SkillPill>
        <SkillPill
          name="Firebase"
          iconName="si-firebase"
          color="#FFCA28"
          client:load
        >
          <p>The no-thought solution.</p>
          <p>Database, Authentication, Permissions, Triggers</p>
        </SkillPill>
        <SkillPill
          name="Supabase"
          iconName="si-supabase"
          color="#3ECF8E"
          client:load
        >
          <p>Firebase but better.</p>
        </SkillPill>
      </div>
    </section>
    <section
      class="container flex flex-col items-center py-32 text-center text-gray-100"
      id="other-skills"
    >
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        And can do other things too
      </h2>
      <p class="text-center text-2xl font-thin">
        Like DevOps and Machine Learning.
      </p>
    </section>
  </article>
</Layout>
