---
import SkillTile from "@/components/Home/SkillTile.astro";
import Layout from "@/layouts/Layout.astro";
import { ChevronRightIcon, ClipboardCopy } from "lucide-react";
import { Fragment } from "react";
import { Icon } from "astro-icon/components";
---

<Layout title="Portfolio" heading="Portfolio." subheading="Here is me.">
  <article
    class="dark static mb-16 h-full overflow-y-auto overflow-x-hidden rounded-xl bg-gray-900"
  >
    <nav
      class="flex h-20 items-center border-b border-gray-700 bg-gray-900 px-8"
    >
      <a href="/" class="text-2xl font-bold text-gray-100">Imagine</a>
      <ul class="ml-auto flex gap-8">
        <li>
          <a href="#" class="text-gray-100">Home</a>
        </li>
        <li>
          <a href="#about" class="text-gray-100">About</a>
        </li>
        <li>
          <a href="#contact" class="text-gray-100">Contact</a>
        </li>
      </ul>
    </nav>
    <section class="funny relative py-60 text-center text-gray-100">
      <h2 class="mb-8 text-6xl font-bold">A Software Engineer</h2>
      <h3 class="mb-6 text-2xl font-thin">Apparently this is the trend</h3>
      <div class="flex items-center justify-center gap-4">
        <div class="bg-blue-purple-gradient p-0.5 shadow-sm">
          <div class="flex items-center bg-gray-950 p-4">
            <ChevronRightIcon className="mr-1 text-gray-100" size="20" />
            <code
              class="flex-1 text-left font-mono text-lg leading-none text-gray-400"
            >
              So I copied the
            </code>
            <button
              class="hover:scale-105 active:scale-100 active:transition-none"
              type="button"
            >
              <ClipboardCopy
                className="ml-3 text-gray-100 hover:text-gray-300"
                size="24"
              />
            </button>
          </div>
        </div>
        <a
          class="flex h-14 items-center rounded-full bg-gray-100 px-10 text-center font-medium leading-none text-blue-600 hover:bg-gray-300"
          href="https://astro.build/"
          target="_blank"
        >
          Astro Website
        </a>
      </div>
    </section>
    <section class="pb-60 text-gray-100">
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        Imagine there are useful <br /> things about me here
      </h2>
      <p class="text-center text-2xl font-thin">
        Because I can't think of anything better at the moment.
      </p>
    </section>
    <section
      class="mx-16 flex flex-col items-center pb-60 text-center text-gray-100"
    >
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        I like web development
      </h2>
      <div class="grid w-full grid-cols-12 gap-2">
        <SkillTile
          class="col-span-7"
          name="TypeScript"
          iconName="si-typescript"
          color="#3178C6"
        >
          <p>Done the rounds.</p>
          <p>hono, Prisma</p>
        </SkillTile>
        <SkillTile
          class="col-span-5"
          name="Python"
          iconName="si-python"
          color="#3776AB"
        >
          <p>Ol' Reliable.</p>
          <p>Flask, Django</p>
        </SkillTile>
        <SkillTile
          class="col-span-3"
          name="Astro"
          iconName="si-astro"
          color="#BC52EE"
        >
          <p>This entire website is made with it!</p>
        </SkillTile>
        <SkillTile
          class="col-span-5"
          name="React"
          iconName="si-react"
          color="#61DAFB"
        >
          <p>The whole ecosystem.</p>
          <p>Next.js, shadcn/ui, TRPC, Jotai, Auth.js</p>
        </SkillTile>
        <SkillTile
          class="col-span-4"
          name="Vue"
          iconName="si-vue"
          color="#4FC08D"
        >
          <p>I used it for work.</p>
          <p>Pinia</p>
        </SkillTile>
        <SkillTile
          class="col-span-4"
          name="AWS"
          iconName="si-amazonaws"
          color="#FF9900"
        >
          <p>The whole shebang.</p>
          <p>CDK, ECR, ECS, API Gateway, Lambda.</p>
        </SkillTile>
        <SkillTile
          class="col-span-3"
          name="TailwindCSS"
          iconName="si-tailwindcss"
          color="#06B6D4"
        >
          <p>It's just so simple.</p>
        </SkillTile>
        <SkillTile
          class="col-span-5"
          name="Docker"
          iconName="si-docker"
          color="#2496ED"
        >
          <p>Who hasn't?</p>
          <p>Containerisation, Deployment</p>
        </SkillTile>
      </div>
    </section>
    <section
      class="mx-16 flex flex-col items-center pb-60 text-center text-gray-100"
    >
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        And games, of course
      </h2>
      <p class="text-center text-2xl font-thin">Here</p>
    </section>
  </article>
</Layout>
