---
import SkillTile from "@/components/Home/SkillTile.astro";
import Layout from "@/layouts/Layout.astro";
import {
  SiPython,
  SiTypescript,
  SiTypescriptHex,
  SiPythonHex
} from "@icons-pack/react-simple-icons";
import { ChevronRightIcon, ClipboardCopy } from "lucide-react";
---

<Layout title="Portfolio" heading="Portfolio." subheading="Here is me.">
  <article
    class="dark static mb-16 h-full overflow-y-auto overflow-x-hidden rounded-xl bg-gray-900"
  >
    <nav
      class="flex h-20 items-center border-b border-gray-700 bg-gray-900 px-8"
    >
      <a href="/" class="text-2xl font-bold text-gray-100">Imagine</a>
      <ul class="ml-auto flex gap-8">
        <li>
          <a href="#" class="text-gray-100">Home</a>
        </li>
        <li>
          <a href="#about" class="text-gray-100">About</a>
        </li>
        <li>
          <a href="#contact" class="text-gray-100">Contact</a>
        </li>
      </ul>
    </nav>
    <section class="funny relative py-60 text-center text-gray-100">
      <h2 class="mb-8 text-6xl font-bold">A Software Engineer</h2>
      <h3 class="mb-6 text-2xl font-thin">Apparently this is the trend</h3>
      <div class="flex items-center justify-center gap-4">
        <div class="bg-blue-purple-gradient p-0.5 shadow-sm">
          <div class="flex items-center bg-gray-950 p-4">
            <ChevronRightIcon className="mr-1 text-gray-100" size="20" />
            <code
              class="flex-1 text-left font-mono text-lg leading-none text-gray-400"
            >
              So I copied the
            </code>
            <button
              class="hover:scale-105 active:scale-100 active:transition-none"
              type="button"
            >
              <ClipboardCopy
                className="ml-3 text-gray-100 hover:text-gray-300"
                size="24"
              />
            </button>
          </div>
        </div>
        <a
          class="flex h-14 items-center rounded-full bg-gray-100 px-10 text-center font-medium leading-none text-blue-600 hover:bg-gray-300"
          href="https://astro.build/"
          target="_blank"
        >
          Astro Website
        </a>
      </div>
    </section>
    <section class="pb-60 text-gray-100">
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        Imagine there are useful <br /> things about me here
      </h2>
      <p class="text-center text-2xl font-thin">
        Because I can't think of anything better at the moment.
      </p>
    </section>
    <section
      class="mx-16 flex flex-col items-center pb-60 text-center text-gray-100"
    >
      <h2 class="mb-8 text-center text-5xl font-bold leading-tight">
        I like web development
      </h2>
      <div class="grid w-full grid-cols-6 gap-2">
        <SkillTile class="col-span-4" name="TypeScript" color={SiTypescriptHex}>
          <SiTypescript slot="icon" size="32" />
          <p>Here is a nice description</p>
          <p>Here is more</p>
        </SkillTile>
        <SkillTile class="col-span-2" name="Python" color={SiPythonHex}>
          <SiPython slot="icon" size="32" />
        </SkillTile>
        <SkillTile name="HTML" />
        <SkillTile name="React" />
        <SkillTile name="Vue" />
      </div>
    </section>
  </article>
</Layout>
