---
import { cn } from "@/lib/utils";
import type { ClassNameValue } from "tailwind-merge";

interface Props {
  name: string;
  color?: string;
  class?: ClassNameValue;
}

const { name, color, class: className } = Astro.props;
---

<article
  class={cn("p-4 border rounded-md bg-gray-800", className)}
  style={{ backgroundColor: color }}
>
  <header class="mb-6 flex flex-row gap-3">
    <span class="text-2xl font-semibold">{name}</span>
    <slot name="icon" />
  </header>
  <section class="text-justify text-gray-100">
    <slot />
  </section>
</article>
